<!-- About Section -->
<section class="light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Por que ir no evento?</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Em 2018, o LinguÁgil chega à sua 8º edição! No total, já tivemos 1600 participantes de Salvador e do
                    Brasil, 89 palestras, 21 workshops: muitas horas de conhecimento e muita mão na massa.</p>
            </div>
            <div class="col-lg-4">
                <p>Este ano, o evento será realizado no Institudo de Matemática da UFBA, com o apoio do Departamento de
                    Ciência da Computação.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {% include enroll.html %}
            </div>
        </div>
    </div>
</section>