<!-- About Section -->
<section id="c4p">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Submeta sua palestra</h2>
                <hr class="star-primary">
                <p>Mini-curso (4 ou 8 horas), Palestra (30 minutos) ou Light Talking (15 minutos)</p>
                <p><strong>Prazo final para submissões: <span style="text-decoration: line-through">20 de Maio</span> 6 de Maio</strong></p>
                <p class="text-muted">Devido à necessidade de divulgação e planejamento de muitas pessoas que participarão do LinguÁgil, mas que não moram na cidade, o encerramento do C4P fora antecipado.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="https://goo.gl/forms/hd2Fey6Eaes97I9v1" class="btn btn-lg btn-primary disabled" role="button" aria-disabled="true">
                    <i class="fa fa-bullhorn"></i> Submissões encerradas
                </a>
            </div>
        </div>
    </div>
</section>