<!-- About Section -->
<section id="c4p">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Submeta palestra</h2>
                <hr class="star-primary">
                <p>Mini-curso (4 ou 8 horas), Palestra (30 minutos) ou Light Talking (15 minutos)</p>
                <p><strong>Prazo final para submissões: 20 de Maio</strong></p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="#" class="btn btn-lg btn-primary">
                    <i class="fa fa-bullhorn"></i> Submeta palestra
                </a>
            </div>
        </div>
    </div>
</section>