<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <div class="wrapper">
                        <span>
                            <div class="brand-wrapper">
                                <span><img class="event-brand-symbol" src="assets/images/simbolo-branco-transparente.png" alt=""></span>
                                <span class="event-brand-text"><h1>LinguÁgil</h1></span>
                            </div>
                        </span>
                        <span class="event-brand-year"><h1>2018</h1></span>
                    </div>
                    <hr class="star-primary">
                    <h2>O maior evento sobre linguagens de programação e metodologias ágeis de Salvador</h2>
                    <h3>8 e 9 de Junho <span>•</span> 9h <span>•</span> No Instituto de Matemática, UBFA</h3>
                </div>
            </div>
        </div>
        {% include enroll.html %}
    </div>
</header>