<section id="localization">    
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Localização</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <p><strong>O LinguÁgil 2018 será realizado no Instituto de Matemática e Estatística da UFBA</strong> (também chamado de Instituto de Matemática, IM ou IME) fica na Avenida Adhemar de Barros, no campus de Ondina, próximo da Avenida Anita Garilbari.</p>
                <p><strong>O Treinamento Lean Inception - Direto Ao Ponto, de Paulo Caroli, acontecerá no HubSalvador</strong>, que fica na Avenida da França, 393 - Comércio, Salvador - BA, 40010-010</p>
                <p><strong><a href="https://indigente.github.io/ime-localizacao.html" title="Como chegar no IME">Acesse o guia de como chegar no IME</a></strong> escrito pelo Indigente (Interactive Digital Entertainment), o grupo de pesquisa e desenvolvimento em jogos UFBA.</p>
                <div class="brand-grid localization">                    
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.5487458015587!2d-38.51000148613129!3d-13.00068876391444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x716049fbb02e667%3A0x8f20f7c335e687c3!2sInstituto+de+Matem%C3%A1tica+(UFBA)+-+Campus+Ondina!5e0!3m2!1sen!2sbr!4v1527867251813" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div> 
        </div>
    </div>
</section>