<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Programação</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row flexbox-center schedule-grid-day">
            <div class="schedule-grid" style="width: 100%">
                <div class="date">
                    <h2 class="time">08/06</h2>
                </div>
                <div class="date">
                    <h2>Sexta-feira, HubSalvador</h2>
                </div>

                {% assign speaker = site.data.speakers[16] %}
                {% include schedule_speaker.html time="9h" speaker=speaker note="<a href='https://www.sympla.com.br/treinamento-lean-inception---direto-ao-ponto-em-salvador__283366'><strong>Inscreva-se!</strong></a> <strong>A inscrição para essa atividade deve ser feita separadamente</strong> e contempla ingresso para o LinguÁgil 2018 enquanto houver vaga no evento.<br><strong>O HubSalvador fica na Av. da França, 393 - Comércio, Salvador - BA, 40010-010</strong>"%}

                {% include schedule_checkpoint.html time="18" title="Encerramento" %}
            </div>
        </div>

        <div class="row flexbox-center schedule-grid-day">
            <div class="schedule-grid" style="width: 100%">
                <div class="date">
                    <h2 class="time">08/06</h2>
                </div>
                <div class="date">
                    <h2>Sexta-feira, minicursos no laboratório 144, IME UFBA</h2>
                </div>

                {% assign speaker = site.data.speakers[13] %}
                {% include schedule_speaker.html time="8h" speaker=speaker note="20 min de pausa para café e quitutes"%}

                {% include schedule_checkpoint.html time="12" title="Almoço" %}

                {% assign speaker = site.data.speakers[14] %}
                {% include schedule_speaker.html time="14h" speaker=speaker note="20 min de pausa para café e quitutes"%}

                {% include schedule_checkpoint.html time="18" title="Encerramento" %}

            </div>
        </div>

        <div class="row flexbox-center schedule-grid-day">
            <div class="schedule-grid" style="width: 100%">
                <div class="date">
                    <h2 class="time">08/06</h2>
                </div>
                <div class="date">
                    <h2>Sexta-feira, minicursos no laboratório 140, IME UFBA</h2>
                </div>

                {% assign speaker = site.data.speakers[15] %}
                {% include schedule_speaker.html time="14h" speaker=speaker note="20 min de pausa para café e quitutes"%}

                {% include schedule_checkpoint.html time="18" title="Encerramento" %}
            </div>
        </div>

        <div class="row flexbox-center schedule-grid-day">
            <div class="schedule-grid" style="width: 100%">
                <div class="date">
                    <h2 class="time">09/06</h2>
                </div>
                <div class="date">
                    <h2>Sábado, palestras no auditório do IME UFBA</h2>
                </div>

                {% include schedule_checkpoint.html time="8h" title="Credenciamento" %}
                {% include schedule_checkpoint.html time="9h" title="Abertura do evento" %}

                {% assign speaker = site.data.speakers[0] %}
                {% include schedule_speaker.html speaker=speaker %}

                {% assign speaker = site.data.speakers[1] %}
                {% include schedule_speaker.html speaker=speaker %}

                {% include schedule_checkpoint.html time="10h" title="Coffee break" %}

                {% assign speaker = site.data.speakers[2] %}
                {% include schedule_speaker.html speaker=speaker %}

                {% assign speaker = site.data.speakers[17] %}
                {% include schedule_speaker.html speaker=speaker %}

                {% include schedule_checkpoint.html time="12h" title="Almoço" %}
                {% include schedule_checkpoint.html time="13h" title="Abertura da tarde" %}

                {% assign speaker = site.data.speakers[3] %}
                {% include schedule_speaker.html speaker=speaker %}

                {% assign speaker = site.data.speakers[4] %}
                {% include schedule_speaker.html speaker=speaker %}

                {% assign speaker = site.data.speakers[5] %}
                {% include schedule_speaker.html speaker=speaker %}

                {% assign speaker = site.data.speakers[6] %}
                {% include schedule_speaker.html speaker=speaker %}

                {% assign speaker = site.data.speakers[7] %}
                {% include schedule_speaker.html speaker=speaker %}

	        	{% assign speaker = site.data.speakers[8] %}
                {% include schedule_speaker.html speaker=speaker %}

                {% include schedule_checkpoint.html time="16h" title="Coffee break" %}

                {% assign speaker = site.data.speakers[9] %}
                {% include schedule_speaker.html speaker=speaker %}

                {% assign speaker = site.data.speakers[10] %}
                {% include schedule_speaker.html speaker=speaker %}

                {% assign speaker = site.data.speakers[11] %}
                {% include schedule_speaker.html speaker=speaker %}

                <!--Exceção! Dois palestrantes, uma palestra-->
                {% assign speaker01_02 = site.data.speakers[12] %}
                {% assign speaker02_02 = site.data.speakers[18] %}
                <div>
                    <h2 class="time"></h2>
                </div>
                <div>
                    <h2 class="speaker"><a href="#speakerModal-{{ speaker01_02.ref }}" class="speaker-link" data-toggle="modal">{{speaker01_02.name}}</a> e
                        <a href="#speakerModal-{{ speaker02_02.ref }}" class="speaker-link" data-toggle="modal">{{speaker02_02.name}}</a>
                    </h2>

                    <p>{{speaker01_02.talk}}</p>
                </div>

                {% include schedule_checkpoint.html time="18h" title="Fishbowl" %}

            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {% include enroll.html %}
            </div>
        </div>
    </div>
</section>