<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Programação</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row schedule-list-row">
            <div class="schedule-list">
                {% include schedule_checkpoint.html time="8h" title="Credenciamento" %}
                {% include schedule_checkpoint.html time="9h" title="Abertura do evento" %}

                {% include schedule_speaker.html speaker=site.data.speakers.adale %}
                {% include schedule_speaker.html speaker=site.data.speakers.fran %}

                {% include schedule_checkpoint.html time="10h20" title="Coffe break" %}

                {% include schedule_speaker.html speaker=site.data.speakers.ray %}

                {% include schedule_checkpoint.html time="12h" title="Almoço" %}
                {% include schedule_checkpoint.html time="13h50" title="Abertura da tarde" %}
            </div>
        </div>
    </div>
</section>