<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Programação</h2>
                <hr class="star-light">
            </div>
        </div>
        <style>
            .schedule-list-row {
                display: flex;
                justify-content: center;
            }
            .schedule-list {

            }
            .schedule-list-item {
                margin-bottom: 25px;
            }
            .schedule-list-item-heading {
                display: flex;
                justify-content: flex-start;
            }
            .schedule-list-item-heading h3.time {
                width: 80px;
                text-align: right;
            }
            .schedule-list-item-heading h3, .schedule-list-item-heading h2 {
                margin: 0;
                padding: 0;
                padding-left: 10px;
            }
            .schedule-list-item-text {
                padding-left: 90px;
            }
        </style>

        <div class="row schedule-list-row">
            <div class="schedule-list">
                <div class="schedule-list-item">
                    <div class="schedule-list-item-heading" style="">
                        <h3 class="time text-muted">9h</h3>
                        <h3>asdasd asd</h3>
                    </div>
                </div>
                <div class="schedule-list-item">
                    <div class="schedule-list-item-heading" style="">
                        <h3 class="time text-muted"></h3>
                        <h2>Joston Muriel</h2>
                    </div>
                    <p class="schedule-list-item-text">asd asdj as asd asd asd asd asd asd  askjdh</p>
                </div>
                <div class="schedule-list-item">
                    <div class="schedule-list-item-heading" style="">
                        <h3 class="time text-muted"></h3>
                        <h2>Joston Muriel</h2>
                    </div>
                    <p class="schedule-list-item-text">asd asdj as asd asd asd asd asd asd  askjdh</p>
                </div>
                <div class="schedule-list-item">
                    <div class="schedule-list-item-heading" style="">
                        <h3 class="time text-muted">9h</h3>
                        <h3>asdasd asd</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>