<div class="social-container">
    <ul class="soc">
        <li><a class="soc-github" href="https://github.com/colares"></a></li>
        <li><a class="soc-linkedin" href="https://www.linkedin.com/in/thiagocolares/"></a></li>
        <!-- <li><a class="soc-facebook" href="https://www.facebook.com/thicolares"></a></li> -->
        <li><a class="soc-twitter" href="https://www.twitter.com/thicolares"></a></li>
        <!-- <li><a class="soc-medium soc-icon-last" href="https://medium.com/@thicolares"></a></li> -->
    </ul>
</div> 
