<section id="support">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Apoio</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="brand-grid support">
                    <a href="https://www.agilealliance.org/" title="Agile Alliance">
                        <img src="assets/images/brands/support/support-brand-agile-alliance.png" alt="Agile Alliance" style="width: 150px"></a>
                    <a href="http://wiki.dcc.ufba.br/DCC/" title="Departamento de Ciência da Computação da UFBA">
                        <img src="assets/images/brands/support/support-brand-dcc-ufba.png" alt="Departamento de Ciência da Computação da UFBA" style="height: 120px"></a>
                    <a href="http://ime.ufba.br/" title="Instituto de Matemática e Estatística da UFBA">
                        <img src="assets/images/brands/support/support-brand-ime-ufba.png" alt="Instituto de Matemática e Estatística da UFBA" style="height: 100px"></a>
                    <a href="https://www.ufba.br/" title="UFBA">
                        <img src="assets/images/brands/support/support-brand-ufba.png" alt="UFBA" style="height: 120px"></a>
                    <a href="https://www.casadocodigo.com.br/" title="Casa do Código">
                        <img src="assets/images/brands/support/support-brand-casa-do-codigo.png" alt="Casa do Código" style="width: 150px"></a>
                    <a href="http://www.caroli.org/" title="Caroli.org">
                        <img src="assets/images/brands/support/support-brand-caroli.png" alt="Caroli.org" style="width: 150px"></a>
                    <a href="https://www.instagram.com/belasmarcas/" title="Belas Marcas Representações">
                        <img src="assets/images/brands/support/support-brand-belas-marcas.jpeg" alt="Belas Marcas Representações" style="width: 150px"></a>
                </div>
            </div>
        </div>
    </div>
</section>