// https://color.adobe.com/A-Concrete-Emotion-color-theme-535363
$primary-color: #cb202d;
$primary-light-color: #cb8485;
$secondary-color: #23202B;
$tertiary-color: #525766;
$light-color: #9398A3;
$lighter-color: #D2DEDB;
$lightest-color: white;