body{
    font-family: $base-font;
    color: $body-text;
    background: rgba(26,79,105,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(26,79,105,1) 0%, rgba(8,52,74,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(26,79,105,1)), color-stop(100%, rgba(8,52,74,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(26,79,105,1) 0%, rgba(8,52,74,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(26,79,105,1) 0%, rgba(8,52,74,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(26,79,105,1) 0%, rgba(8,52,74,1) 100%);
    background: radial-gradient(ellipse at center, rgba(26,79,105,1) 0%, rgba(8,52,74,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a4f69', endColorstr='#08344a', GradientType=1 );
}

.container-mvp{
    width: 50vw;
    height: 100vh;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .logo {
        img {
            width: 100%;
            max-width: 350px;
        }
        .year{
            font-size: 30px;
        }
    }
    .info{
        text-align: center;
        p{
            margin: 10px 0;
        }
    }
    .c4p {
        margin: 10px 0;
        a {
            display: inline-block;
            background-color: $link-button;
            color: $body-text;
            text-decoration: none;
            padding: 10px;
            border-radius: 2px;
            -webkit-transition: background-color 2s; /* Safari */
            transition: background-color 2s;
        
            &:hover{
                background-color: $link-button-hover;
            }
        }
    }
    .social{
        padding: 10px;

        .icon{
            width: 30px;
            padding: 0 5px;
            filter: opacity(.7);
            transition: filter 2s;
            &:hover{
                filter: opacity(1);
            }
        }
    }

}
